{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="row d-flex flex-wrap align-items-center pb-1 pt-2">
  <div class="col">
    <h5>Connections</h5>
  </div>
  <div class="col-2">
    <a class="icon" href="receive_invitation">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
        class="img-fluid float-end bi bi-person-plus-fill" viewBox="0 0 16 16">
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        <path fill-rule="evenodd"
          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
      </svg>
    </a>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="accordion" id="accordionConnections">
      {% for conn in all_cons %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading_conn_{{ forloop.counter }}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_conn_{{ forloop.counter }}" aria-expanded="false"
            aria-controls="collapse_conn_{{ forloop.counter }}">
            {{ conn.their_label }}
          </button>
        </h2>
        <div id="collapse_conn_{{ forloop.counter }}" class="accordion-collapse collapse"
          aria-labelledby="heading_conn_{{ forloop.counter }}" data-bs-parent="#accordionConnections">
          <div class="accordion-body">
            <h1>{{ conn.their_label }}</h1>
            <ul>
              <li>Connection ID: {{ conn.connection_id }}</li>
              <li>Created at: {{ conn.created_at }}</li>
              <li>State: {{ conn.state }}</li>
            </ul>
            <div class="row">
              {% if conn.state != 'active' %}
              <button id="acceptConnection_{{conn.connection_id}}" class="btn btn-success" type="submit">Accept</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row pt-1">
  <a class="link-info" href="{% url 'connections' %}">See all connections</a>
</div>
<div class="row pt-4">
  <div class="col">
    <h5 class="pb-1">Credentials</h5>
    <div class="accordion" id="accordionCredentials">
      {% for cred in all_creds %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading_cred_{{ forloop.counter }}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_cred_{{ forloop.counter }}" aria-expanded="false"
            aria-controls="collapse_cred_{{ forloop.counter }}">
            {{ cred.schema_name }}
          </button>
        </h2>
        <div id="collapse_cred_{{ forloop.counter }}" class="accordion-collapse collapse"
          aria-labelledby="heading_cred_{{ forloop.counter }}" data-bs-parent="#accordionCredentials">
          <div class="accordion-body">
            <h1>{{ cred.schema_name }}</h1>
            <ul>
              <li>Updated at: {{ cred.updated_at }}</li>
              <li>State: {{ cred.state }}</li>
              <li>Exchange id: {{ cred.credential_exchange_id }}</li>
              <li>Attributes:
                <ul>
                  {% for attr in cred.attributes %}
                  <li>{{ attr.name }}: {{ attr.value }} </li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
            <div class="row">
              {% if cred.state == 'offer_received' %}
              <div class="col text-center">
                <!--{{ cred.credential_exchange_id | json_script:'cred_ex_id' }}-->
                <button id="requestCredential_{{cred.credential_exchange_id}}" class="btn btn-success"
                  type="submit">Accept</button>
              </div>
              <div class="col text-center">
                <a href="problem_report/{{ cred.credential_exchange_id }}"><button
                    class="btn btn-danger">Decline</button></a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row pt-1 pb-5 mb-5">
  <a class="link-info" href="{% url 'credentials' %}">See all credentials</a>
</div>
<nav class="nav nav-justified fixed-bottom bg-light">
  <a class="nav-link active" aria-current="page" href="#">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-wallet-fill"
      viewBox="0 0 16 16">
      <path
        d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2h-13z" />
      <path
        d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6z" />
    </svg>
  </a>
  <a class="nav-link" href="/proof_requests">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-send"
      viewBox="0 0 16 16">
      <path
        d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
    </svg>
  </a>
  <a class="nav-link" href="/accounts/logout">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-box-arrow-right"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
      <path fill-rule="evenodd"
        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
    </svg>
  </a>
</nav>
{% endblock %}
{% block endOfBody %}
<script type="module" src="{% static 'js/requestCredential.js' %}"></script>
<script type="module" src="{% static 'js/acceptConnection.js' %}"></script>
{% endblock %}